$system-fonts: 'Segoe UI','Roboto','San Francisco','Helvetica Neue',sans-serif;
$color-primary: #f55649;
$color-secondary: #4c4c4c;
$color-tertiary: #f1eee9; 
$max-width: 1080px;

$card-width: 266px;
$card-gutter: 10px;
$card-padding: 10px;